main_QA.json
requirements.txt
transformers_cache
recommendation.pth
squares.png
topics.png
visitors.png
.ipynb_checkpoints
transformers_cache
research_chat_bot.ipynb
pipeline_retrain.ipynb
__pycache__
user_voice.ogg
# confidential or too big
password.txt
itmo_model.pt
main_bot